* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  font-family: Poppins, Verdana, sans-serif;
}

/*
  -----Header-----
*/

.overlay-menu {
  display: none;
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #4053fcb3;
  backdrop-filter: blur(7px);
}

.overlay-menu .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
  width: 80%;
  font-size: 2rem;
}

.overlay-menu a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.overlay-menu a:hover {
  color: #4c4c4c;
}

.overlay-menu .close {
  align-self: flex-end;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}

.overlay-menu .close:hover,
.overlay-menu .close:focus {
  color: #4c4c4c;
  text-decoration: none;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 8%;
  font-size: 18px;
}

nav.hidden {
  visibility: hidden;
}

.nav-container {
  position: fixed;
  top: 0;
  margin-inline: auto;
  background-color: #f6f6f6cf;
  border-bottom: 1px solid #0003;
  box-shadow: 2px 0 5px #7773;
  width: 100%;
  z-index: 999;

  /* Animations
  animation-name: move-down;
  animation-duration: 2s; */
}

/*
@keyframes move-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
} */

nav.sticky {
  /* top: 0; */
  width: 100%;
  z-index: 1000;
}

nav .logo {
  color: #4053fc;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  /* animation: scaleDown 0.3s forwards; */
}

nav .logo:hover {
  text-shadow: 2px 2px 5px #aab3ff77, -2px -2px 5px #aab3ff77, 2px -2px 5px #aab3ff77, -2px 2px 5px #aab3ff77;
  /* animation-name: scaleUp;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; */
}

/* @keyframes scaleUp {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1.05);
  }

  to {
    transform: scale(1);
  }
} */

nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .hamburger-menu,
nav .hamburger-menu-hidden {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 30px;
}

@media screen and (max-width: 768px) {
  nav .desktop-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  nav {
    padding: 2.5% 8%;
    max-width: calc(1200px + 16%);
    margin-inline: auto;
  }

  nav .logo {
    color: #4053fc;
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
  }

  nav .hamburger-menu {
    display: none;
  }

  nav .desktop-menu {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  nav .desktop-menu li + li {
    margin-left: 24px;
  }

  nav .desktop-menu a {
    font-size: 18px;
    color: #344563;
    padding: 0;
  }

  nav .desktop-menu a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

/*
  -----Main-----
*/

/*
  Headline Section
*/

.headline {
  display: flex;
  flex-direction: column;
  padding: 3% 7%;
  margin-top: 10%;
  padding-bottom: 25%;
  align-items: center;
  gap: 12px;
  background-image: url(src/backgrounds/background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.headline-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
}

.welcome-content {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.headline-image {
  order: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headline-image img {
  width: 80%;
  min-width: 100px;
  max-width: 400px;
  border: 10px solid #4053fcb3;
  border-radius: 50%;
}

.main-title {
  font-size: 32px;
  line-height: 45px;
  color: #172b4d;
  margin-top: 10%;
}

.main-description {
  font-size: 16px;
  font-weight: 400;
  color: #344563;
  line-height: 24px;
}

.main-description a:hover {
  text-decoration: underline;
}

.connect {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.connect-icons {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #505f79;
  list-style: none;
}

.connect-icons a {
  display: flex;
  padding: 5px;
  align-items: center;
  border-radius: 5px;
}

.connect-icons a:hover {
  background-color: #b2b6a177;
}

@media screen and (min-width: 768px) {
  .headline {
    background-image: url(src/backgrounds/headline-desktop.svg);
    background-size: 105%;
    background-position: 50% 30%;
    background-clip: border-box;
    max-width: 1500px;
    padding-bottom: 20%;
    margin-inline: auto;
    max-height: 1200px;
  }

  .headline-content {
    flex-direction: row;
    gap: 40px;
  }

  .headline-image {
    order: 1;
    justify-content: center;
    /* margin-right: 10px; */
    width: 200%;
  }

  .headline-image img {
    width: 100%;
    min-width: 370px;
    max-width: 470px;
  }

  .main-title {
    font-size: 48px;
    line-height: 60px;
  }

  .main-description {
    font-size: 20px;
    line-height: 28px;
  }
}

/*
  Projects Section
*/

.projects {
  display: flex;
  flex-direction: column;
  padding: 8%;
  padding-top: 20%;
  background-color: #e5e5e5;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  max-width: 1200px;
  background-color: #fff;
  margin: 15% 0;
  padding: 5%;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid #3332;
  border-radius: 20px;
}

.card-title {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
}

.card-details {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  font-weight: 600;
  height: 32px;
}

.prim-detail-cap {
  color: #344563;
}

.sec-detail-cap {
  color: #7a869a;
}

.card .description {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
}

.techstack {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 3% 0;
}

.techstack li {
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  font-size: 12px;
  color: #4053fc;
}

.techstack li:hover {
  box-shadow:
    1px 1px 5px rgba(0, 0, 0, 0.1),
    -1px -1px 5px rgba(0, 0, 0, 0.1);
}

.card .card-button {
  color: #4053fc;
  background-color: #fff;
  border: 1px solid #4053fc;
  padding: 10px;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;

  /* transition */
  transition: background-color 0.5s ease-out, color 0.5s ease-out, box-shadow 0.5s ease-out;
}

.card .card-button:hover {
  background-color: #4053fc;
  color: #fff;
  box-shadow:
    1px 1px 5px rgba(0, 0, 0, 0.3),
    -1px -1px 5px rgba(0, 0, 0, 0.3);
}

.card .card-button:active {
  background-color: #2230d2;
  color: #fff;
  box-shadow:
    1px 1px 5px rgba(0, 0, 0, 0.3),
    -1px -1px 5px rgba(0, 0, 0, 0.3);
}

.card .card-button:disabled {
  background-color: #fff;
  color: #5e6c84;
  border-color: #5e6c84;
}

@media screen and (min-width: 768px) {
  .projects {
    padding: 3% 8%;
    padding-top: 120px;
  }

  .card {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 70px auto;
    padding: 24px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  .card:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.2);
  }

  .card1 .card-cover {
    content: url(src/images/card-cover1-desktop.png);
    width: 100%;
  }

  .card2 .card-cover {
    content: url(src/images/card-cover2-desktop.png);
  }

  .card3 .card-cover {
    content: url(src/images/card-cover3-desktop.png);
  }

  .card4 .card-cover {
    content: url(src/images/card-cover4-desktop.png);
  }

  .even .card-cover {
    order: 2;
  }

  .card-info {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 24px;
  }

  .even .card-info {
    order: 1;
  }

  .card-title {
    font-size: 40px;
    line-height: 52px;
  }

  .prim-detail-cap {
    font-size: 18px;
  }

  .sec-detail-cap {
    font-size: 18px;
  }

  .card .description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 5%;
  }

  .card .card-button {
    margin-top: 5%;
  }
}

/* Popup Card for Projects */

.card-modal-container {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 1002;
  left: 0;
  top: 0;
  overflow: auto;
  padding-block: 5%;
  padding-inline: 4%;
  width: 100%;
  height: 100%;
  background-color: rgba(193, 199, 208, 0.7);
  backdrop-filter: blur(5px);
}

.card-modal {
  background-color: #fff;
  border-radius: 16px;
}

.card-modal .card {
  transition: none;
  margin: 0;
}

.card-modal .card:hover {
  transform: none;
  box-shadow: none;
}

.popup-header {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 100%;
}

.modal-title-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.popup-card .techstack {
  padding-bottom: 25px;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(235, 236, 240, 1);
}

.close-modal {
  font-size: 2.5rem;
  cursor: pointer;
  border: none;
  background-color: #fff;
  line-height: 1.5rem;
}

.popup-buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  padding-top: 25px;
}

.popup-buttons button.card-button {
  flex: 1;
  height: 50px;
  display: flex;
  padding: 0 10px;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  /* Popup Card for Projects - Desktop */

  .card-modal {
    margin: auto 10%;
  }

  .popup-card .card-info {
    flex-direction: row;
    gap: 5%;
    padding: 1% 0 5%;
  }

  .popup-card .card-info-sub {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .popup-card {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .popup-header {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    width: 100%;
  }

  .popup-card .card-cover {
    margin: 3% 0;
    aspect-ratio: 1108/586;
    object-fit: cover;
    object-position: top;
  }

  .popup-card .description {
    max-width: 60%;
    margin-top: 0;
  }
}

/* About Myself Section */

.about-myself {
  display: flex;
  flex-direction: column;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  padding: 8%;
  background-color: #fff;
  padding-top: 30%;
}

.about-title {
  color: #172b4d;
  font-size: 32px;
  line-height: 50px;
}

.about-description {
  color: #344563;
}

.resume-link {
  cursor: pointer;
  color: #4053fc;
  background-color: #fff;
  border: 1px solid #4053fc;
  padding: 12px;
  border-radius: 8px;
  font-size: 17px;
  font-style: normal;

  /* transition */
  transition: background-color 0.5s ease-out, color 0.5s ease-out, box-shadow 0.5s ease-out;
}

.resume-link:hover {
  background-color: #4053fc;
  color: #fff;
  box-shadow:
    1px 1px 5px rgba(0, 0, 0, 0.3),
    -1px -1px 5px rgba(0, 0, 0, 0.3);
}

.resume-link:active {
  background-color: #2230d2;
  color: #fff;
  box-shadow:
    1px 1px 5px rgba(0, 0, 0, 0.3),
    -1px -1px 5px rgba(0, 0, 0, 0.3);
}

.resume-link:disabled {
  background-color: #fff;
  color: #5e6c84;
  border-color: #5e6c84;
}

/* Categories */

.categories {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.cat-list-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 5%;
  font-size: 20px;
  border-bottom: 1px solid #dfe1e6;
}

.lang {
  border-top: 1px solid #dfe1e6;
}

.arrow {
  height: 18px;
  margin-right: 18px;
  transition: transform 1s;
}

.lang-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8%;
  transition: margin-bottom 1s;
}

.lang-list-header:hover {
  cursor: pointer;
}

.lang-list {
  display: flex;
  flex-direction: column;
  transition: height 1s;
  overflow: hidden;
}

.lang-list li {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  gap: 10px;
  margin: 2% 10% 2% 2%;
  padding: 2%;
  font-size: 15px;
}

.lang-list img {
  height: 55px;
  width: 55px;
}

.framework-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: margin-bottom 1s;
  width: 100%;
}

.framework-list-header:hover {
  cursor: pointer;
}

.framework-list {
  display: flex;
  flex-direction: column;
  height: 0;
  transition: height 1s;
  overflow: hidden;
}

.framework-list li {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  gap: 10px;
  margin: 2% 10% 2% 2%;
  padding: 2%;
  font-size: 15px;
}

.framework-list img {
  border-radius: 27px;
  height: 55px;
  width: 55px;
}

.skills-list-header {
  display: flex;
  justify-content: space-between;
  transition: margin-bottom 1s;
}

.skills-list-header:hover {
  cursor: pointer;
}

.skills-list {
  display: flex;
  flex-direction: column;
  height: 0;
  transition: height 1s;
  overflow: hidden;
}

.skills-list li {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  gap: 10px;
  margin: 2% 10% 2% 2%;
  padding: 2%;
  font-size: 15px;
}

.skills-list img {
  height: 55px;
  width: 55px;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .about-myself {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10% 8%;
    column-gap: 8px;
    max-width: calc(1200px + 16%);
    margin-inline: auto;
    min-height: calc(890px + 10%);
  }

  .about-container {
    padding: 0;
    gap: 10px;
    overflow: visible;
    /* min-width: 300px; */
  }

  .about-title {
    font-size: 40px;
  }

  .categories {
    margin: 0;
  }

  .lang-list {
    flex-direction: row;
    gap: 8px;
  }

  .lang-list li {
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
    flex-basis: 120px;
    min-height: 120px;
  }

  .framework-list {
    flex-direction: row;
    gap: 8px;
  }

  .framework-list li {
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
    flex-basis: 120px;
    min-height: 120px;
  }

  .skills-list {
    flex-direction: row;
    gap: 8px;
  }

  .skills-list li {
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
    flex-basis: 120px;
    min-height: 120px;
  }
}

/* Contact Form */

.contact-section {
  padding: 8%;
  background-color: #4053fc;
  background-image: url(src/backgrounds/contact-background.svg);
  background-repeat: no-repeat;
  background-position: top right;
  color: #fff;
  border-top-left-radius: 100px;
}

.contact-section .contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20%;
}

.contact-form label {
  display: none;
}

.contacts-message {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10%;
}

.contact-me-email-address {
  color: cyan;
}

.contact-me-email-address:hover {
  text-decoration: underline;
}

.contacts-heading {
  text-align: center;
  font-size: 32px;
}

.contacts-input {
  padding: 16px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-size: 17px;
}

.contact-error {
  display: none;
  align-self: flex-start;
  font-size: 17px;
  padding: 1% 3%;
  background-color: #900;
  color: #fff;
  border-radius: 8px;
}

.contact-submit {
  cursor: pointer;
  background-color: #fff;
  color: #4053fc;
  padding: 16px;
  border: 1px solid #4053fc;
  font-size: 17px;
  border-radius: 8px;
  width: 45%;

  /* transition */
  transition: background-color 0.5s ease-out, color 0.5s ease-out, box-shadow 0.5s ease-out;
}

.contact-submit:hover {
  background-color: #4053fc;
  color: #fff;
  box-shadow:
    1px 1px 5px rgba(0, 0, 0, 0.3),
    -1px -1px 5px rgba(0, 0, 0, 0.3);
}

.contact-submit:active {
  background-color: #2230d2;
  color: #fff;
  box-shadow:
    1px 1px 5px rgba(0, 0, 0, 0.3),
    -1px -1px 5px rgba(0, 0, 0, 0.3);
}

.contact-submit:disabled {
  background-color: #fff;
  color: #5e6c84;
  border-color: #5e6c84;
}

@media screen and (min-width: 768px) {
  .contact-section {
    padding: 8%;
    background-color: #4053fc;
    background-image: url(src/backgrounds/contact-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    color: #fff;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    max-width: 1500px;
    margin-inline: auto;
  }

  .contacts-heading {
    font-size: 40px;
  }

  .contacts-message {
    font-size: 18px;
  }

  .contact-section .contact-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    max-width: 768px;
    margin-top: 8%;
  }

  .contact-form .message {
    font-size: 20px;
    margin-bottom: 5%;
  }

  .contact-error {
    margin: 0 10%;
  }

  .contact-submit {
    align-self: center;
  }

  .contacts-input {
    margin: 0 10%;
  }
}
